<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d [%thread] %-5level  %logger{35} - %msg%n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
	</appender>
	
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>D:\Bala\TEMP\ElctrnPymntCopy.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
	
	<logger name="org.hibernate" level="ALL" />
	<logger name="org.springframework" level="ALL" />

	<root>
		<level value="ALL" />
		<appender-ref ref="fileAppender" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>